:root {
--basic-red: #EE3643;
--basic-reded: #CA2C37;
--basic-red-dark: rgba(0, 0, 0, 0.24);
--basic-black: #000000;
--basic-black-opacity: rgba(0, 0, 0, 0.3);
--basic-shadow-black: rgba(0, 0, 0, 0.15);
--basic-green: #63A63E;
--basic-green-dark: #367315;
--basic-greened-dark: #518534;
--basic-grey: #3D546F; /*похож на экстра дарк*/
--basic-greylight: #C5C5C5;
--basic-greylight-light: #A9A9A9;
--basic-greylighted: #F2F6F8;
--basic-greylight-clear: rgba(197, 197, 197, 0.3);
--basic-greylight-dark: rgba(169, 169, 169, 0.3);
--basic-extra-grey: #F3F7F9;
--special-grey-other: rgba(0, 0, 0, 0.25);
--basic-background: #F1F5F7;
--basic-white: #FFFFFF;
--basic-white-other: #EAEAEA;
--basic-white-clear: rgba(255, 255, 255, 0.3);
--basic-white-cleared: rgba(255, 255, 255, 0.5);
--special-greyed: rgba(241, 245, 247, 0.5);
--special-grey: #E5E5E5;
--special-ylellow: #FFBF47;/*похож на ylellow-other*/
--special-ylellow-other: #FFC047;
--special-blue: #3BBCE3;
--special-lilac: #DC91D8;
--special-greenlight: #8ED78F;
--special-yellowlight: #FFD180;
--special-yellowed: rgba(255, 209, 128, 0.5);
--success: #5FBB2D;
--warning: #FFBF47;
--error: #BA2732;
--light-grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
--shadow: #C4C4C4;
--basic-extra-dark: #293449;
--basic-dark:#32425C;
--basic-dark-other: #405069;
--basic-extra-light: #F9F5F0;
--basic-extra-lighted: #F7F3EC;
--basic-light: rgba(0, 0, 0, 0.0001);
--basic-very-dark: #212A3A;
--basic-very-darked: #161D29;
--basic-super-darked: #1D2739;
}
/*Header*/
.main-header {
  background-color: var(--basic-extra-grey);
}
.main-header-wrapper {
background-color: var(--basic-extra-dark);
}
.main-header-logo {
background-color: var(--basic-red);
box-shadow: inset 0px -5px 0px var(--basic-red-dark);
}
.main-header-logo:active {
  background-color: var(--error);
}
.main-header-search {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-extra-dark);
  color: var(--basic-white);
}
.main-header-search:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.main-header-search:active, .main-header-tab:active, .main-header-basket:active, .main-header-link:active {
  color: var(--basic-white-cleared);
}
.main-header-tab:active, .main-header-basket:active {
  background-color: var(--basic-very-darked);
}
.main-header-link:active {
  background-color: var(--basic-green);
}
.main-header-tab  {
  color: var(--basic-white);
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.main-header-basket {
  color: var(--basic-white);
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.main-header-link {
  background-color: var(--basic-green);
  color: var(--basic-white);
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.main-header-link:hover {
  background-color: var(--success);
}
.main-header-desc {
  font-family: Cuprum, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}
.contacts-phone {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  background-color: var(--basic-extra-grey);
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
}
.address {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-dark);
}
.modal-login {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: rgba(0, 0, 0, 0.0001);
}
.modal-login:hover, .modal-reg:hover {
  color: var(--basic-red);
}
.modal-login:active, .modal-reg:active {
  color: var(--basic-greylight);
}
.modal-reg {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-light);
}
.site-nav {
  background-color: var(--basic-dark);
  box-shadow: inset 0px -5px 0px var(--basic-extra-dark);
}
.site-nav>li>a {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}
.site-nav>li>a:hover {
  background-color: var(--basic-extra-dark);
}
.site-nav>li>a:active {
  background-color: var(--basic-super-darked);
  color: var(--basic-white-cleared);
}

/*Main*/
  /*section class="product"*/
.visibility-h {
  visibility: hidden;
}
.product-item-material {
  background-color: var(--special-ylellow);
}
.product-subtitle-material {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}
.product-link-material {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-white-clear);

}
.product-text-material {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
.product-item-tool {
  background-color: var(--special-blue);
}
.product-subtitle-tool {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}
.product-link-tool {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-white-clear);
}
.product-item-technic {
  background-color: var(--special-lilac);
}
.product-subtitle-technic {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}
.product-link-technic {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-white-clear);
}
.product-item-discount {
  background-color: var(--special-greenlight);
}
.product-subtitle-discount {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}
.product-link-discount {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-white-clear);
}
.product-item-delivery {
  background-color: var(--special-ylellow-other);
}
.product-subtitle-delivery {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}
.product-link-delivery {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-white-clear);
}
.product-link-material:hover, .product-link-tool:hover, .product-link-technic:hover, .product-link-discount:hover, .product-link-delivery:hover {
  background-color: var(--basic-greylight-clear);
}
.product-link-material:active, .product-link-tool:active, .product-link-technic:active, .product-link-discount:active, .product-link-delivery:active {
  background-color: var(--basic-greylight-dark);
}
.product-perforators {
  background-color: var(--special-grey-other);
}
.product-subtitle-perforators {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}
.product-subtitle-text {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}
.product-link {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
.product-link:hover {
  background-color: var(--basic-reded);
}
.product-link:active {
  background-color: var(--error);
}

/*section class="firms-product"*/
    /*1 image*/
.firms-product-box {
  background-color: var(--basic-extra-light);
}
.firms-product-title {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark);
  text-transform: uppercase;
}
.firms-product-link {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}
.firms-product-item {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
}
.firms-product-tool-thumb {
  padding-top: 6px;
  padding-left: 18px;
}
.firms-product-name {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  align-items: center;
  text-align: center;
}
.firms-product-price {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-greylight-light);
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
.discount-text {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 32px;
  padding-top: 10px;
}
.discount {
  width: 141px;
  height: 38px;
  align-content: center;
  margin-bottom: 51px;
  margin-left: 47px;
  background-color: var(--basic-red);
  background-image:
  linear-gradient(225deg, var(--basic-white) 25%, transparent 25%),
  linear-gradient(315deg, var(--basic-white) 25%, transparent 25%);
}
.button-buy {
  height: 38px;
  width: 135px;
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img {
  opacity: 0.3;
}
.button-bookmark {
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
}
.firms-product-button {
  display: none;
}
.firms-product-item:hover .firms-product-tool-thumb {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  filter: drop-shadow(0px 4px 20px var(--basic-shadow-black));
  display: none;
}
.firms-product-item:hover {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  filter: drop-shadow(0px 4px 20px var(--basic-shadow-black));
}
.firms-product-item:hover .firms-product-button {
  display: inline;
}
.firms-product-price:hover {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-greylight-light);
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
.discount-text:hover {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 32px;
  padding-top: 10px;
}
.discount:hover {
  width: 141px;
  height: 38px;
  align-content: center;
  margin-bottom: 51px;
  margin-left: 47px;
  background-color: var(--basic-red);
  background-image:
  linear-gradient(225deg, var(--basic-white) 25%, transparent 25%),
  linear-gradient(315deg, var(--basic-white) 25%, transparent 25%);
}
.button-buy:hover {
  background: var(--success);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img:hover {
  opacity: 0.3;
}
.button-bookmark:hover {
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
}
.button-buy:active {
  background: var(--basic-greened-dark);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img:active {
  opacity: 0.3;
}
.button-bookmark:active {
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 0.5
}
    /*2 image*/
.firms-product-item {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
}
.firms-product-thumb {
  padding-top: 29px;
  padding-left: 40px;
}
.firms-product-name {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  align-items: center;
  text-align: center;
}
.firms-product-price {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-greylight-light);
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
.discount-text {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 32px;
  padding-top: 10px;
}
.discount {
  width: 141px;
  height: 38px;
  align-content: center;
  margin-bottom: 51px;
  margin-left: 47px;
  background-color: var(--basic-red);
  background-image:
  linear-gradient(225deg, var(--basic-white) 25%, transparent 25%),
  linear-gradient(315deg, var(--basic-white) 25%, transparent 25%);
}
.button-buy {
  height: 38px;
  width: 135px;
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img {
  opacity: 0.3;
}
.button-bookmark {
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
}
.firms-product-button {
  display: none;
}
.firms-product-item:hover .firms-product-thumb {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  filter: drop-shadow(0px 4px 20px var(--basic-shadow-black));
  display: none;
}
.firms-product-item:hover {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  filter: drop-shadow(0px 4px 20px var(--basic-shadow-black));
}
.firms-product-item:hover .firms-product-button {
  display: inline;
}
.firms-product-price:hover {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-greylight-light);
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
.discount-text:hover {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 32px;
  padding-top: 10px;
}
.discount:hover {
  width: 141px;
  height: 38px;
  align-content: center;
  margin-bottom: 51px;
  margin-left: 47px;
  background-color: var(--basic-red);
  background-image:
  linear-gradient(225deg, var(--basic-white) 25%, transparent 25%),
  linear-gradient(315deg, var(--basic-white) 25%, transparent 25%);
}
.button-buy:hover {
  background: var(--success);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img:hover {
  opacity: 0.3;
}
.button-bookmark:hover {
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
}
.button-buy:active {
  background: var(--basic-greened-dark);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img:active {
  opacity: 0.3;
}
.button-bookmark:active {
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 0.5
}

    /*3 image*/
.firms-product-item {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
}
.firms-product-thumb-tool {
  padding-top: 22px;
  padding-left: 33px;
}
.firms-product-name {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  align-items: center;
  text-align: center;
}
.firms-product-price {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-greylight-light);
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
.discount-text {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 32px;
  padding-top: 10px;
}
.discount {
  width: 141px;
  height: 38px;
  align-content: center;
  margin-bottom: 51px;
  margin-left: 47px;
  background-color: var(--basic-red);
  background-image:
  linear-gradient(225deg, var(--basic-white) 25%, transparent 25%),
  linear-gradient(315deg, var(--basic-white) 25%, transparent 25%);
}
.button-buy {
  height: 38px;
  width: 135px;
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img {
  opacity: 0.3;
}
.button-bookmark {
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
}
.firms-product-button {
  display: none;
}
.firms-product-item:hover .firms-product-thumb-tool {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  filter: drop-shadow(0px 4px 20px var(--basic-shadow-black));
  display: none;
}
.firms-product-item:hover {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  filter: drop-shadow(0px 4px 20px var(--basic-shadow-black));
}
.firms-product-item:hover .firms-product-button {
  display: inline;
}
.firms-product-price:hover {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-greylight-light);
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
.discount-text:hover {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 32px;
  padding-top: 10px;
}
.discount:hover {
  width: 141px;
  height: 38px;
  align-content: center;
  margin-bottom: 51px;
  margin-left: 47px;
  background-color: var(--basic-red);
  background-image:
  linear-gradient(225deg, var(--basic-white) 25%, transparent 25%),
  linear-gradient(315deg, var(--basic-white) 25%, transparent 25%);
}
.button-buy:hover {
  background: var(--success);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img:hover {
  opacity: 0.3;
}
.button-bookmark:hover {
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
}
.button-buy:active {
  background: var(--basic-greened-dark);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img:active {
  opacity: 0.3;
}
.button-bookmark:active {
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 0.5
}

   /*4 image*/
.firms-product-item {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
}
.firms-product-thumbTool {
  padding-top: 22px;
  padding-left: 33px;
}
.firms-product-name {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  align-items: center;
  text-align: center;
}
.discount-text {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 32px;
  padding-top: 10px;
}
.discount {
  width: 141px;
  height: 38px;
  align-content: center;
  margin-bottom: 51px;
  margin-left: 47px;
  background-color: var(--basic-red);
  background-image:
  linear-gradient(225deg, var(--basic-white) 25%, transparent 25%),
  linear-gradient(315deg, var(--basic-white) 25%, transparent 25%);
}
.button-buy {
  height: 38px;
  width: 135px;
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img {
  opacity: 0.3;
}
.button-bookmark {
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
}
.firms-product-button {
  display: none;
}
.firms-product-item:hover .firms-product-thumbTool {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  filter: drop-shadow(0px 4px 20px var(--basic-shadow-black));
  display: none;
}
.firms-product-item:hover {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-other);
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  filter: drop-shadow(0px 4px 20px var(--basic-shadow-black));
}
.firms-product-item:hover .firms-product-button {
  display: inline;
}
.firms-product-price:hover {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-greylight-light);
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
.discount-text:hover {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 32px;
  padding-top: 10px;
}
.discount:hover {
  width: 141px;
  height: 38px;
  align-content: center;
  margin-bottom: 51px;
  margin-left: 47px;
  background-color: var(--basic-red);
  background-image:
  linear-gradient(225deg, var(--basic-white) 25%, transparent 25%),
  linear-gradient(315deg, var(--basic-white) 25%, transparent 25%);
}
.button-buy:hover {
  background: var(--success);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img:hover {
  opacity: 0.3;
}
.button-bookmark:hover {
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
}
.button-buy:active {
  background: var(--basic-greened-dark);
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
  border-radius: 2px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
.button-img:active {
  opacity: 0.3;
}
.button-bookmark:active {
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
  border: 3px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 0.5
}

  /*section class="firms"*/
.firms-box {
  background-color: var(--basic-extra-light);
}
.firms-title {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark);
  text-transform: uppercase;
}
.firms-link {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}
.firms-item {
  background-color: var(--basic-white);
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}
.firms-item:hover {
  filter: drop-shadow(0px 4px 20px var(--basic-shadow-black));
}

.firms-item:active {
  filter: drop-shadow(0px 4px 20px var(--basic-shadow-black));
  opacity: 0.5;
}

  /*section class="services"*/
.services {
  background-color: var(--basic-background);
}
.services-title {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.services-text {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
.services-item-first {
  background-color: var(--basic-dark);
  box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--basic-dark-other);
}
.services-item-first {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
}
.services-item-first:hover {
  background-color: var(--basic-extra-dark);
  color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--basic-dark-other);
}
.services-item-first:focus {
  background-color: var(--basic-white);
  color: var(--basic-dark);
  box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
}
  .services-item-second {
  background-color: var(--basic-dark);
  box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--basic-dark-other);
}
.services-item-second {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
}
.services-item-second:hover {
  background-color: var(--basic-extra-dark);
  color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--basic-dark-other);
}
.services-item-second:focus {
  background-color: var(--basic-white);
  color: var(--basic-dark);
  box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
}
.services-item-third {
  background-color: var(--basic-dark);
  box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--basic-dark-other);
}
.services-item-third {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
}
.services-item-third:hover {
  background-color: var(--basic-extra-dark);
  color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--basic-dark-other);
}
.services-item-third:focus {
  background-color: var(--basic-white);
  color: var(--basic-dark);
  box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
}
.services-features-subtitle {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}
.services-features-text {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
.services-features-link {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
 /*section class="aside"*/
.aside-title {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.aside-text {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
.aside-item {
  color: var(--basic-red);
}
.aside-item>span {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}
.aside-link {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
 /*section class="contacts"*/
.contacts-title {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.contacts-text {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
.contacts-link {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/*Footer*/
.main-footer {
  background-color: var(--basic-dark);
}
.main-footer-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-red-dark);
}
.main-footer-address, .main-footer-phone {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-extra-grey);
  text-decoration-line: none;
}
.main-footer-link {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
  text-decoration-line: none;
}
.main-footer-link:hover {
  text-decoration-line: underline;
}
.main-footer-link:active {
  color: var(--special-greyed);
  text-decoration-line: none;
}
.main-footer-second-link {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
  text-decoration-line: none;
}
.main-footer-second-link:hover {
  text-decoration-line: underline;
}
.main-footer-second-link:active {
  color: var(--special-yellowed);
  text-decoration-line: none;
}
.main-footer-wrapper {
  background-color: var(--basic-extra-dark);
}
.main-footer-text {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.socials-button {
  background: linear-gradient(0deg, var(--basic-very-dark), var(--basic-very-dark));
  color: var(--basic-white);
}
.socials-button:hover {
  background: var(--basic-red);
}
.socials-button:active {
  background: var(--basic-red);
}
.footer-list-text, .footer-list-text-second {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.footer-mail, .footer-site {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-yellowlight);
  text-decoration-line: none;
}
.footer-mail:hover, .footer-site:hover {
  text-decoration-line: underline;
}
.footer-mail:active, .footer-site:active {
  color: var(--basic-red);
  text-decoration-line: none;
}


/*//////////CATALOG PAGE//////////*/
/*часть стилей шапки, подвала и боди в стилях первой страницы*/
.modal-registered {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-decoration: none;
}
.modal-orders, .modal-account {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark);
  text-decoration: none;
}
.modal-orders:hover, .modal-account:hover {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-red);
  text-decoration: none;
}
.modal-registered:active {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: var(--basic-greylight);
}
.modal-orders:active, .modal-account:active {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-greylight);
  text-decoration: none;
}
.breadcrumbs>li>a {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
}
.icon-home {
  background-image: url(../img/icon-home.svg);
  background-size: 14px 12px;
  background-repeat: no-repeat;
}
.catalog-title {
  background: var(--basic-greylighted);
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}
.catalog-heading {
  background: var(--basic-extra-lighted);
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.catalog-subtitle {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.checkbox-firms>p>label, .radio-power>p>label {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.aside-button {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background: var(--basic-white);
  border: 1px solid var(--special-grey);
}
.parameter-price, .parameter-type, .parameter-functional {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black-opacity);
  background-image: linear-gradient(to right, var(--basic-red) 75%, transparent 75%);
  background-position: 0 16px;
  background-repeat: repeat-x;
  background-size: 1px 1px;
}
.parameter-up>svg, .parameter-down>svg {
  width: 12px;
  height: 12px;
  fill: var(--basic-greylight);
}
.parameter-price:hover, .parameter-type:hover, .parameter-functional:hover {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  background-image: linear-gradient(to right, var(--basic-red) 100%, transparent 0%);
  background-position: 0 16px;
  background-repeat: repeat-x;
  background-size: 1px 1px;
}
.parameter-price:focus, .parameter-type:focus, .parameter-functional:focus {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-red);
  background-image: none;
}
.parameter-up:hover svg, .parameter-down:hover svg {
  width: 12px;
  height: 12px;
  fill: var(--basic-black);
}
.parameter-up:focus svg, .parameter-down:focus svg {
  width: 12px;
  height: 12px;
  fill: var(--basic-red);
}
.button-page>li>a {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--basic-white);
  border: 1px solid var(--special-grey);
  box-sizing: border-box;
  border-radius: 2px;
}
.button-page>li>a:hover {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--basic-white);
  border: 1px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
}
.button-page>li>a:active {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--basic-white);
  border: 1px solid var(--basic-red);
  box-sizing: border-box;
  border-radius: 2px;
}
.button-page>li>a:focus {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--basic-red);
  border: 1px solid var(--basic-red);
  color: var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}
.tools-desc {
  background: var(--basic-background);
}
.tools-title {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.tools-text {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
